{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1> Witam na moim Blogu  </h1>
    <p class="lead"> Tylko osoby zarejestrowane i zalogowane mogą dokonywać wpisów. </p>
    {% if session.logged_in!=True %}
        <a href="/register" class="btn btn-primary btn-lg">Zarejestruj się</a>
        <a href="/login" class="btn btn-success btn-lg">Logowanie</a>
    {% endif %}
</div>




    <ul class="list-group">
         {% for article in articles %}
            {% if article.publish==1 %}
        <li class="list-group-item"><b>{{article.title}}</b> </li>
        <li class="list-group-item"> {{article.create_date }}</li>
          <li class="list-group-item"> {{article.body | safe}}</li>

            {% endif %}

    {% endfor %}
    </ul>

{%endblock%}